extends layout

block layout-content
  div.indexDiv
    div.View.WelcomeView
      div.View
        h1.Banner TITLE
        div.Message
          div.Title
          h1 Contact Jacob Button
          img(src="4004.gif", alt="")